<fieldset>
    <legend>Edit Blog</legend>
  <!-- BLOG TITLE -->
    <div class = "form-group">
        <label for="blog-title">Title</label><br>
        <input class="form-control" id="blog-title" type="text" name="blog_title" value="{{blogs.blog_title}}"/>
    </div>

  <!-- BLOG CONTENT -->
    <div class = "form-group">
        <label for="blog-content">Content</label><br>
        <input class="form-control" id="blog-content" type="text" name="blog_content" value="{{blogs.blog_content}}" />
    </div>
</fieldset>