<fieldset>
    <legend>Edit Blog</legend>
  <!-- MESSAGE TITLE -->
    <div class = "form-group">
        <label for="blog-title">Title</label><br>
        <input class="form-control" id="blog-title" type="text" name="blog_title" value="{{blogs.blog_title}}"/>
    </div>

  <!-- MESSAGE CONTENT -->
    <div class = "form-group">
        <label for="message-content">Content</label><br>
        <input class="form-control" id="message-content" type="text" name="message_content" value="{{blogs.blog_content}}" />
    </div>
</fieldset>
