<div class="jumbotron" align="center">
    <h1>Hello, John Doe</h1>
    <p>It looks like you're staying at <h3>Lorem Ipsum</h3></p>
    <img src="/hospital-logos/Lorem%20Ipsum.jpg" height= "150">
    {{!-- TAKEN OUT. Don't know how to make it dynamically switch per hospital. Would work on main page but break on all other pages. 
    Tried importing hospital name into other models but still broken
    <p>It looks like you're staying at <h3>{{{hospital_name}}}</h3></p>
    <img src="/hospital-logos/{{hospital_name}}.jpg" height= "150"> --}}
    <p>hospital</p>
</div>