<h1>Notes before the doctor comes</h1>
<p>Describe symptoms or anything else you've noticed</p>

<a href = "/blogs/new">New Blog</a>

<div class = "row">
    {{#each blogs}}
        <div class = "col-sm-3">
            <h2><a href="/messages/{{this.blog_id}}">{{this.blog_title}}</h2></a>
            <small>{{this.blog_content}}</small>
        </div>
    {{/each}}
</div>
